In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df_clients = pd.read_csv('../../data/datasets/x5-retail-hero/clients.csv.gz', index_col='client_id', infer_datetime_format=True)
df_purchases = pd.read_csv('../../data/datasets/x5-retail-hero/purchases.csv.gz', infer_datetime_format=True)
df_train = pd.read_csv('../../data/datasets/x5-retail-hero/uplift_train.csv.gz', index_col='client_id')
df_test = pd.read_csv('../../data/datasets/x5-retail-hero/uplift_test.csv.gz', index_col='client_id')

In [8]:
df_clients.head()

               first_issue_date    first_redeem_date  age gender
client_id
000012768d  2017-08-05 15:40:48  2018-01-04 19:30:07   45      U
000036f903  2017-04-10 13:54:23  2017-04-23 12:37:56   72      F
000048b7a6  2018-12-15 13:33:11                  NaN   68      F
000073194a  2017-05-23 12:56:14  2017-11-24 11:18:01   60      F
00007c7133  2017-05-22 16:17:08  2018-12-31 17:17:33   67      U

In [9]:
df_purchases.head()

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9a80204f78,2.0,80.0,NaN
1,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,da89ebd374,1.0,65.0,NaN
2,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,0a95e1151d,1.0,24.0,NaN
3,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,4055b15e4a,2.0,50.0,NaN
4,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,a685f1916b,1.0,22.0,NaN

In [10]:
df_purchases.columns

Index(['client_id', 'transaction_id', 'transaction_datetime',
       'regular_points_received', 'express_points_received',
       'regular_points_spent', 'express_points_spent', 'purchase_sum',
       'store_id', 'product_id', 'product_quantity', 'trn_sum_from_iss',
       'trn_sum_from_red'],
      dtype='object')

## EDA

#### Mean transactions per user

In [7]:
df_purchases.set_index(['client_id', 'transaction_id'].index.unique()

MultiIndex([('000012768d', '7e3e2e3984'),
            ('000012768d', 'c1ca85d462'),
            ('000012768d', '6a0e96d0bc'),
            ('000012768d', 'b34f23306e'),
            ('000036f903', '12b218b054'),
            ('000036f903', 'e90f8f4e1f'),
            ('000036f903', '462ba5a47d'),
            ('000036f903', '96f11b0933'),
            ('000036f903', 'ff8c303a03'),
            ('000036f903', '1af98450b3'),
            ...
            ('fffff6ce77', '9ca656ce78'),
            ('fffff6ce77', '0daa0f103f'),
            ('fffff6ce77', '458e7087ed'),
            ('fffff6ce77', '33a3e7607c'),
            ('fffff6ce77', 'a612dd3da5'),
            ('fffff6ce77', 'eba2694c0c'),
            ('fffff6ce77', 'bdd578a115'),
            ('fffff6ce77', '6d9fc7ad6b'),
            ('fffff6ce77', 'b8b6e5e851'),
            ('fffff6ce77', '48f6d115ce')],
           names=['client_id', 'transaction_id'], length=8045229)